pip install -U sentence-transformers
pip install happytransformer
pip install qwikidata
pip install urllib3
pip install ijson
pip install simplejson
pip install urllib3==1.26.11

pip install joblib==1.1.0
pip install hyperopt
pip install umap-learn
pip install hdbscan
pip install matplotlib
