# to ensure you get the latest version of sentence-transformers, you can run the command separately
# pip install -U sentence-transformers
sentence-transformers
happytransformer
qwikidata
urllib3
ijson
simplejson
urllib3==1.26.11  # This line is repeated, you may want to keep only one instance
joblib==1.1.0
hyperopt
umap-learn
hdbscan
matplotlib


