# to ensure you get the latest version of sentence-transformers, you can run the command separately
# pip install -U sentence-transformers
sentence-transformers
happytransformer
qwikidata
ijson
simplejson
urllib3==1.26.11 
joblib==1.1.0
hyperopt
umap-learn
hdbscan
matplotlib


